extends ../layouts/default

block content
	div(class="bg")
		img(src="http://imageshack.com/a/img921/7946/jZWPIb.png")
	div(class="bg2")
		.container
			p bekijk de recepten van:
			.col-md-4
				a(href="/user/" + "57728ebb6f0d53b109597912")
					div(class="minibg")
						div(class="img1")
							p SUZANNE
			.col-md-4
				a(href="/user/" + "577a56990f7eb8e601c64bc7")
					div(class="minibg")
						div(class="img2")
							p ANNELIES
			.col-md-4
				a(href="/user/" + "577525ea48d46f2a1d20d7a4")
					div(class="minibg")
						div(class="img3")
							p RHEA

			br
			p of kies een categorie: 
			.col-md-2
				a(href="/cat/" + "5773c4b9d7e5b4040f7b670e")
					div(class="catje")
						div(class="catta")
							p Brood
			.col-md-2
				a(href="/cat/" + "5773c4bfd7e5b4040f7b670f")
					div(class="catje")
						div(class="catta")
							p Desert
			.col-md-2
				a(href="/cat/" + "5773c4b1d7e5b4040f7b670d")
					div(class="catje")
						div(class="catta")
							p Gebak
			.col-md-2
				a(href="/cat/" + "5773c423d7e5b4040f7b6706")
					div(class="catje")
						div(class="catta")
							p Grill				
			.col-md-2
				a(href="/cat/" + "5773c42dd7e5b4040f7b6707")
					div(class="catje")
						div(class="catta")
							p Pasta
			.col-md-2
				a(href="/cat/" + "5773c42dd7e5b4040f7b6707")
					div(class="catje")
						div(class="catta")
							p Pizza
			.col-md-2
				a(href="/cat/" + "5773c4a8d7e5b4040f7b670c")
					div(class="catje")
						div(class="catta")
							p Rijst
			.col-md-2
				a(href="/cat/" + "5773c498d7e5b4040f7b670b")
					div(class="catje")
						div(class="catta")
							p Salade
			.col-md-2
				a(href="/cat/" + "5773c48ad7e5b4040f7b670a")
					div(class="catje")
						div(class="catta")
							p Soep						
			.col-md-2
				a(href="/cat/" + "5773c431d7e5b4040f7b6708")
					div(class="catje")
						div(class="catta")
							p Vis					
			br
			br
	div(class="footy")
		p copyright by Kevin de Jonge 2016


