extends ../layouts/default

block content
	div(class="bg")
		img(src="http://imageshack.com/a/img921/7946/jZWPIb.png")
	div(class="bg2")
		.container
			p bekijk de recepten van:
			.col-md-4
				div(class="minibg")
					div(class="img1")
						p SUZANNE
			.col-md-4
				div(class="minibg")
					div(class="img2")
						p ANNELIES
			.col-md-4
				div(class="minibg")
					div(class="img3")
						p RHEA
			br
			br
			br
	div(class="footy")
		p copyright by Kevin de Jonge 2016


