.bg{
	height:80vh;
	width:100%;
	background-color: #C63D0F;
  	opacity: 1;
  	margin-top: -50px;
}

body {
	background-color: #FDF3E7;
}
.minibg{
	background-color: transparent;
	opacity:1;
	height: 350px;
	border-radius: 25px;
	margin-bottom:20px;

}
.cat {
	margin-bottom: 50px;
}
.catje{
	background-color: #3B3738;
	opacity:1;
	height: 50px;
	border-radius: 10px;
	margin-bottom:20px;
	-webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-ms-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;
}

.catje:hover {
	opacity:0.6;
}

.catje .catta p {
	color: #FDF3E7;
	padding-top: 15px;
	text-decoration: none;
}

.bg2 a {
	
	text-decoration: none;
}



.bg2 p {
	text-align: center;
	color:#C63D0F;
	font-size: 15px;
	margin-bottom: 40px;
}

.img1 a {
	position: relative;
/*	width:100%;
*/	top: 45%;
	color:#FDF3E7;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	opacity: 1;
	z-index: 150;
	background-color:#3B3738;

}

.img2 a {
	position: relative;
	top: 45%;
	color:#FDF3E7;
	left:27%;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	opacity: 1;
	z-index: 150;
	background-color:#3B3738;
	text-decoration: none;

}


.img1 p {
	position: relative;
/*	width:100%;
*/	top: 45%;
	color:#FDF3E7;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	opacity: 1;
	z-index: 150;
	background-color:#3B3738;

}

.img2 p {
	position: relative;
/*	width:100%;
*/	top: 45%;
	color:#FDF3E7;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	opacity: 1;
	z-index: 150;
	background-color:#3B3738;

}
.img1 a {
	position: relative;
	width:100%;
	top: 45%;
/*	left:30%;
*/	padding-right:13.4vh;
	padding-left:13.2vh;
	color:#FDF3E7;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	opacity: 1;
	z-index: 150;
	background-color:#3B3738;
	text-decoration: none;

}
.img3 a {
	position: relative;
	width:100%;
	top: 45%;
/*	left:30%;
*/	padding-right:17.2vh;
	padding-left:17.1vh;
	color:#FDF3E7;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	opacity: 1;
	z-index: 150;
	background-color:#3B3738;
	text-decoration: none;

}

.img3 p {
	position: relative;
/*	width:100%;
*/	top: 45%;
	color:#FDF3E7;
	font-size: 25px;
	font-style: bold;
	text-align: center;
	opacity: 1;
	z-index: 150;
	background-color:#3B3738;

}
.minibg img{
	background-size: cover;

}
/*
.bg h1{
	font-family: Helvetica;
	font-style: italic;
	position: absolute;
	top:30%;
	left: 30%;
	color: #FDF3E7;
	font-size:45px;
	text-align: center;
	z-index:1000;
}
*/
.bg img{
	width: 28%;
	height: auto;
	position: absolute;
	top: 19%;
	left: 35.5%;
}

.img1 {
	padding-top:10px;
	padding-bottom:10px;

	border-radius: 25px;
	width:92%;
	height:100%;
	opacity:0.8;
	position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    bottom: 0;
    background-image: url("http://www.prominentalumni.com/principal/sites/default/files/field/image/healthy%20food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-ms-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;
}

.img1:hover{
	zoom: 1;
  	filter: alpha(opacity=50);
  	opacity: 0.5;
}

.img2 {
		padding-top:10px;
	padding-bottom:10px;
	border-radius: 25px;
	width:92%;
	height:100%;
	opacity:0.8;
	position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    bottom: 0;
    background-image: url("http://blog.unicasport.com/wp-content/uploads/Advantages-of-eating-healthy-food-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-ms-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;
}

.img2:hover{
	zoom: 1;
  	filter: alpha(opacity=50);
  	opacity: 0.5;
}

.img3 {
		padding-top:10px;
	padding-bottom:10px;
	border-radius: 25px;
	width:92%;
	height:100%;
	opacity:0.8;
	position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    bottom: 0;
    background-image: url("http://assets3.thrillist.com/v1/image/1185257/size/tl-horizontal_main/13-things-you-didn-t-know-about-in-n-out-burger");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity 0.5s ease-in-out;
  	-moz-transition: opacity 0.5s ease-in-out;
  	-ms-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;
}

.img3:hover{
	zoom: 1;
  	filter: alpha(opacity=50);
  	opacity: 0.5;
}

.bg2{
	min-height: 100vh;
	height: 100%;
	width:100%;
	background-color:#FDF3E7;
}

.footy{
	margin-top:50px;
	height: 17vh;
	width:100%;
	background-color: #C63D0F;
	color: #FDF3E7;
	text-align: center;
	padding-top: 40px;
}

.footy2{
	position:relative;
	top: 100vh;
	margin-top:20px;
	height: 17vh;
	width:100%;
	background-color: #C63D0F;
	color: #FDF3E7;
	text-align: center;
	padding-top: 40px;
}

.cono{
	background-color: #C63D0F;
	height:20vh;
	width:100%;
}
.cono img{
	position: relative;

	left: 45%;
	top: 20px;
	width: 10%;
	height:auto;
}

.cono img:after{
	min-width:10%;
	min-height: auto;
}

.recept{
	background-color: #C63D0F;
	height: 15vh;
	border-radius: 10px;
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
	    -webkit-transition: background-color 0.5s ease-in-out;
  	-moz-transition: background-color 0.5s ease-in-out;
  	-ms-transition: background-color 0.5s ease-in-out;
  	-o-transition: background-color 0.5s ease-in-out;
  	transition: background-color 0.5s ease-in-out;
}

.recept a{
	color:#FDF3E7;
	font-size: 20px;
	position: relative;
	top: 34%;
	padding-top: 35px;
	padding-bottom: 35px;
	text-decoration:none;
	-webkit-transition: color 2s;
  	-moz-transition: color 2s;
  	-ms-transition: color 2s;
  	-o-transition: color 2s;
  	transition: color 2s;
}

.recept a:hover{
	opacity: 1;
	font-size: 20px;
	color:#3B3738;
	text-decoration: none;
	position: relative;
	top: 34%;
}


.recept:hover{
	background-color: #3B3738;
	opacity: 0.9;
	font-size: 20px;
	position: relative;
	top: 34%;
}

.recept2{
	background-color: #FDF3E7;
	border-radius: 10px;
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;

}


